:root {
    /* CSS HEX */
    --kelly-green: #2BBD01ff;
    --pullman-brown-ups-brown: #503100ff;
    --steel-blue: #06C8FDff;
    --dark-blue-gray: #007BFEff;
    --sunglow: #eac15a;
    --sunglow-2: #ea9d0b;
    --rose-pink: #ce9dbf;
    --rose-pink-2: #d34d85;
    --pale-silver: #C9C9C9ff;
    --pale-silver-2: #E5E5E5ff;
        --pale-silver-3: #F2F2F2ff;
}

body{
    background-color: #eac15a4d;
    box-sizing: border-box;
}
#generatorKey{
    background-color: var(--pale-silver-2);
    border: 1px solid var(--pale-silver);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--pale-silver);
    color: var(--pullman-brown-ups-brown);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 50%;
}
#container{
    width: 100%;
    /* background: #fff; */
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
}

.card{
    padding: 1rem;
    margin: 0.5rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-shadow: 0 1px 0 #fff;
    min-width: 220px;
    position: relative;
}
.lotteryNumber{
    font-size: 2em;
    font-weight: 700;
    color: #FD8D01;
    text-align: center;
    /* text-shadow: #FD8D01 0 0 5px; */
}

@font-face {
    font-family: myFirstFont;
    src: url(./bubble-boom-graffiti-font/Bubble\ Boom.ttf);
}

h1 {
    font-family: myFirstFont;
    font-size: 6em;
    text-align: center;

}

.gradient-text {
    background: -webkit-linear-gradient(#FFD100, #FD8D01);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

   /* @supports (-webkit-text-stroke: 2px black) {
    h1 {
      -webkit-text-stroke: 2px black;
    }
  }  */

  h1 :not(span) {
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
 }

 .close {
    position: absolute;
    top: 0.9rem;
    right: 0.9rem;
    height: 32px;
    width: 32px;
    color: #000;
    cursor: pointer;
    transition: opacity .25s ease-in-out;
    background-image: url(./images/cancel.png);
    background-size: contain;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: absolute;
    right: 8px;
    bottom: 0.8rem;
    }
    
    .divTop { 
        grid-area: 1 / 2 / 2 / 3;
        height: 1.5rem;
        width: 1.5rem;
    }
    .divLeft { 
        grid-area: 2 / 1 / 3 / 2;
        height: 1.5rem;
        width: 1.5rem;
    }
    .divRight { 
        grid-area: 2 / 3 / 3 / 4;
        height: 1.5rem;
        width: 1.5rem;
    }
    .divBottom { 
        grid-area: 3 / 2 / 4 / 3;
        height: 1.5rem;
        width: 1.5rem;
    }

    .divTop, .divLeft, .divRight, .divBottom {
        color: #0c0c0b;
        text-align: center;
        font-size: 1em;
    }

    .divTop span {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }	

/* Mediaquery */
@media screen and (max-width: 600px) {
    h1{
        font-size: 3em;
    }
    /* #generatorKey{
        width: 100%;
    } */
    #container{
        width: 100%;
    }
    .card{
        width: 100%;
    }
}
